@import "tailwindcss";


body {
  font-family: 'DM Sans', sans-serif;

}

@theme {
  --color-BgCard: #18181b;
  --color-InputBg: #27272a;
  --color-BordaInput: #3f3f46;
  --color-CardText: #71717a;
  

}


.layout {
  width: min(95%, 1800px);

  /* centraliza */
  margin: 0 auto;
}